@font-face {
    font-family: "PF DinDisplay Pro";
    src: url("../fonts/PFDinDisplayPro-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PF DinDisplay Pro";
    src: url("../fonts/PFDinDisplayPro-Regular-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "PF DinDisplay Pro";
    src: url("../fonts/PFDinDisplayPro-Bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "PF DinDisplay Pro";
    src: url("../fonts/PFDinDisplayPro-Bold-Italic.woff") format("woff");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "PF Din Text Cond Pro";
    src: url("../fonts/PFDinTextCondPro-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PF Din Text Cond Pro";
    src: url("../fonts/PFDinTextCondPro-Bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}